.logo {
    display: flex;
}

.logo img {
    display: block;
    border: 1px solid darkblue;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.theme-img {
    height: 25px;
    margin-left: 50px;
    align-self: center;
}

.theme-img:hover {
    cursor: pointer;
}