.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /*background-image: url("../../assets/images/Halation-movies-film-art-background-vector-03-1280x720.jpg");*/
}