.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url("../../assets/images/Halation-movies-film-art-background-vector-03-1280x720.jpg");*/
    /*background-repeat-x: no-repeat;*/
    /*background-size: 100%;*/
}