.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url("../../assets/images/cinema-pic.jpg");*/
    background-repeat-x: no-repeat;
    background-size: 100%;
}