.block {
    height: 100vh;
    background-image: url("../../assets/images/posters-bg.jpg");
    background-size: cover;
}

.btn {
    display: flex;
    justify-content: center;
    align-self: center;
    color: azure;
}